@import "../../../variables";
@import "../../../templates";

.wrapper {
  background-color: rgba($primary, 0.5);
  padding: 1rem 2rem 0.7rem 2rem;
  display: grid;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    min-width: 50rem;
    max-width: 100%;
  }

  &__image {
    width: 6.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
  }
}

.textarea__wrapper {
  position: relative;
  width: 100%;
}

.input {
  box-sizing: border-box;
  border: none;
  min-height: 7rem;
  width: 100%;
  resize: vertical;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.7rem;

  &:focus {
    outline: none;
  }

  &__before {
    $size: 2.5rem;
    position: absolute;
    top: 0;
    right: calc(100% - 1px);
    width: $size;
    aspect-ratio: 1;
    background-color: $text;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }
}

.buttons__wrapper {
  display: flex;
  flex-grow: 1;
  gap: 1rem;

  input {
    display: none;
  }
}

.post-button {
  @extend %post-btn;
  display: flex;
  gap: 0.2rem;
  align-items: center;

  &__icon {
    font-size: 1.5rem;
    @extend %icon;
  }

  &--cancel {
    @extend .post-button;
    margin-left: auto;
  }
}

.submit {
  @extend .post-button;
  border: none;
  background-color: $primary;
  box-shadow: 0.3rem 0.3rem 0 -0.1rem transparent;

  .icon {
    font-size: 1.5rem;

    &--one {
      @extend .icon;
    }

    &--two {
      @extend .icon;
      display: none;
    }
  }

  &:hover {
    background-color: $yellow;
    color: $black;
    box-shadow: 0.3rem 0.3rem 0 -0.1rem $black;

    .icon--one {
      display: none;
    }

    .icon--two {
      display: block;
    }
  }

  &:disabled {
    background-color: gray;
  }
}

.error-wrapper {
  margin-bottom: 0.7rem;
}
