@import "../../../variables";
@import "../../../templates";
@import "../../../query";

.wrapper {
  background-color: rgba($primary, 0.5);
  display: grid;

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-self: center;
    padding: 1rem 2rem 0.7rem 2rem;
    gap: 2rem;
    width: min(90%, $max-content);
  }

  &__image {
    width: 6.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;

    &__link {
      @include medium {
        display: none;
      }
    }
  }
}

.textarea__wrapper {
  position: relative;
  width: 100%;
}

.input {
  box-sizing: border-box;
  border: none;
  min-height: 7rem;
  width: 100%;
  resize: vertical;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.7rem;

  @include medium {
    font-size: 1rem;
    min-height: 3rem;
    border-radius: 1.5rem;
  }

  &:focus {
    outline: none;
  }

  &__before {
    $size: 2.5rem;
    position: absolute;
    top: 0;
    right: calc(100% - 1px);
    width: $size;
    aspect-ratio: 1;
    background-color: $text;
    clip-path: polygon(0 0, 100% 100%, 100% 0);

    @include medium {
      display: none;
    }
  }
}

.buttons__wrapper {
  display: flex;
  flex-grow: 1;
  gap: 1rem;

  @include medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }

  input {
    display: none;
  }
}

.post-button {
  @extend %post-btn;
  display: flex;
  gap: 0.2rem;
  align-items: center;

  &:disabled {
    color: $black;
  }

  @include medium {
    padding: 0.3rem 0;
    justify-content: center;
    width: 100%;
  }

  @include small {
    grid-column: 1 / -1 !important;
  }

  &__icon {
    font-size: 1.5rem;
    @extend %icon;

    @include medium {
      font-size: 1.2rem;
    }
  }

  &__text {
    @include large {
      display: none;
    }

    @include medium {
      display: inline;
    }
  }

  &--cancel {
    @extend .post-button;
    margin-left: auto;

    @include medium {
      grid-column: 2;
    }

    @include small {
      grid-row: 2;
    }
  }
}

.submit {
  @extend .post-button;
  border: none;
  background-color: $primary;
  box-shadow: 0.3rem 0.3rem 0 -0.1rem transparent;

  @include medium {
    grid-column: 3;
  }

  @include small {
    grid-row: 1;
  }

  .icon {
    font-size: 1.5rem;

    &--one {
      @extend .icon;
    }

    &--two {
      @extend .icon;
      display: none;
    }
  }

  &:hover {
    background-color: $yellow;
    color: $black;
    box-shadow: 0.3rem 0.3rem 0 -0.1rem $black;

    .icon--one {
      display: none;
    }

    .icon--two {
      display: block;
    }
  }

  &:disabled {
    background-color: gray;
  }
}

.error-wrapper {
  margin-bottom: 0.7rem;
}

.file-name {
  margin: 0;
  align-self: center;

  @include medium {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  @include small {
    grid-row: 4;
  }
}