@import "../../variables";
@import "../../templates";

.signup {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 2rem 0;

  &__title {
    font-weight: 400;
  }

  .form {
    @extend %form;

    &__button {
      @extend %form-btn;
      margin-top: 1.6rem;
    }

    &__file-btn {
      @extend %form-btn;
      padding: 0.3rem 0.5rem;
      font-size: 1rem;
    }
  }
}
