@import "../../variables";
@import "../../templates";

.userbar {
  width: 100%;
  background-color: $post-bg;
  display: grid;
  justify-content: center;
  padding: 1rem 0;

  .shine {
    @include shine();
  }

  &__wrapper {
    display: flex;
    gap: 2rem;
    min-width: 60rem;
    max-width: 100%;
  }

  &__image {
    $size: 8rem;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $skeleton-color;
  }

  &__details {
    display: grid;
    gap: .8rem;
    align-content: center;
  }

  &__name {
    height: 3rem;
    width: 20rem;
    margin: 0;
    @extend %skeleton-content;
  }

  &__joined {
    margin: 0;
    width: 10rem;
    height: 1rem;
    @extend %skeleton-content;
  }

  &__posts-count {
    height: 1.2rem;
    width: 5rem;
    margin: 0;
    @extend %skeleton-content;
  }
}
