@import "../../variables";

.wrapper {
  background-color: $post-bg;
  border-radius: $post-border-radius;
  width: $max-content;
}

.main {
  padding: $post-padding;
}

.head {
  display: flex;
  gap: 1rem;

  &__image {
    $size: 5rem;
    width: $size;
    height: $size;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    margin: 0;
    font-weight: 500;
    color: $black;
  }

  &__time {
    margin: 0;
    color: $text-secondary;
  }
}

.content {
  padding: 1rem 0;

  &__text {
    font-size: 1.2rem;
    color: $black;
    margin: 0;
    white-space: pre-wrap;
  }

  &__image {
    width: 100%;
  }
}

.feedback {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__comments {
    font-size: 0.83rem;
    margin: 0;
    color: $black;

    &--clickable {
      @extend .feedback__comments;
      cursor: pointer;
    }
  }

  &__votes {
    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-size: 1.2rem;
      width: 5ch;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

    &__button {
      height: 3rem;
      width: 3rem;
      border: none;
      background-color: transparent;
      position: relative;

      &__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $text-secondary;

        &:hover {
          cursor: pointer;
          color: $black;
        }

        &--clicked {
          $light: 10%;
          &--upvote {
            @extend .feedback__votes__button__icon;
            color: $vote-up;

            &:hover {
              color: darken($vote-up, $light);
            }
          }

          &--downvote {
            @extend .feedback__votes__button__icon;
            color: $vote-down;

            &:hover {
              color: darken($vote-down, $light);
            }
          }
        }
      }
    }
  }
}

.positive {
  color: $vote-up;
}

.negative {
  color: $vote-down;
}

.voted {
  font-weight: bold;
}

.line {
  margin: $post-padding;
}

.hashlink {
  color: $secondary;
}