@import '../../../variables';
@import '../../../query';

.wrapper {
  padding: 0;
}

.title {
  margin: 0;
  color: $text-secondary;
  width: max-content;

  @include xsmall {
    width: 100%;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.4rem;
  display: flex;
  flex-wrap: wrap;

  &__element {

    &--active {
      background-color: $primary;
      padding: 0 0.2rem;
      border-radius: $border-reg;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.clickable:hover {
  cursor: pointer;
}

.no-content {
  color: $text-secondary;
}