@import "../../variables";
@import "../../templates";

.userbar {
  width: 100%;
  background-color: rgba($primary, 0.5);
  display: grid;
  justify-content: center;
  padding: 1rem 0;

  &__wrapper {
    display: flex;
    gap: 2rem;
    min-width: 60rem;
    max-width: 100%;
  }

  &__image {
    $size: 8rem;
    width: $size;
    height: $size;
    border-radius: 50%;
    object-fit: cover;
  }

  &__details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__name {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
    color: $black;
    grid-column: 1;
  }

  &__joined {
    margin: 0;
    font-size: 1rem;
    color: $text-secondary;
    grid-column: 1;
  }

  &__posts-count {
    font-size: 1.2rem;
    margin: 0;
    color: $text-secondary;
    grid-column: 1;
  }

  &__followers-count {
    margin: 0;
    color: $text-secondary;
    grid-column: 1;
  }

  .action-buttons {
    display: grid;
    justify-items: end;
    grid-auto-rows: max-content;
    gap: 0.5rem;
  }
}

.no-posts {
  @extend %no-posts;
}