@import "../../variables";
@import "../../query";

.wrapper {
  padding: $post-padding;
  border-radius: $post-border-radius;
  box-shadow: .2rem .2rem 1rem -0.5rem $text-secondary;
  box-sizing: border-box;

  &__op {
    border-left: 0.25rem solid $vote-up;
  }

  &__user {
    border-left: 0.25rem solid $secondary;
  }
}

.author {
  display: flex;
  gap: 1rem;

  &__image {
    $size: 4rem;
    width: $size;
    height: $size;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;

    @include small {
      $size: 3rem;
      width: $size;
      height: $size;
    }
  }

  &__name {
    margin: 0;
    color: $black;
    font-size: 1.4rem;
    line-height: 1.4rem;

    @include small {
      font-size: 1.2rem;
    }
  }

  &__date {
    margin: 0;
    font-size: 0.9rem;
    color: $text-secondary;

    @include small {
      font-size: 0.7rem;
    }
  }
}

.content {
  font-size: 1.2rem;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;

  @include small {
    font-size: 1rem;
  }
}
