@import '../../variables';
@import '../../templates';

.login {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 2rem 0;

  &__title {
    font-weight: 400;
  }

  .form {
    @extend %form;

    &__button {
      @extend %form-btn;
    }
  }
}