@import "../../variables";

.navbar {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  background-color: $primary;
  padding: 0 2rem;
  gap: 2rem;

  &__logo {
    width: 11rem;
    height: 100%;
    path {
      fill: $text;
    }
  }

  &__buttons-wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;

    li, .button__nav {
      height: 100%;
      display: grid;
      place-items: center;
    }

    &--button {
      color: $text;
      font-size: 1.1rem;
      background-color: transparent;
      border: 0.18rem solid $text;
      border-radius: 1.5rem;
      padding: 0.1rem 1rem;

      &:hover {
        background-color: $text;
        color: $primary;
        cursor: pointer;
      }
    }
  }
}

.button {
  &__logout,
  &__signup {
    margin-left: auto;
  }

  &__nav {
    box-sizing: border-box;
    color: $text;
    font-size: 2rem;
    width: 4rem;

    &:hover {
      background-color: rgba($secondary, 0.3)
    }

    &--active {
      @extend .button__nav;
      border-bottom: 0.3rem solid $text;
    }
  }
}
