@import "../../variables";

.wrapper {
  width: 100%;
  background-color: rgba($primary, 0.5);
  display: grid;
  justify-content: center;
  padding: 1rem 0;

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    min-width: $max-content;
    max-width: 100%;

    &__paragraph {
      margin: 0;
      color: $text-secondary;
    }

    &__name {
      font-size: 2.6rem;
      line-height: 2.6rem;
      margin: 0;
    }

    &__follow-btn {
      grid-column: 2;
      justify-self: end;
      height: min-content;
      font-size: 1.2rem;
      color: $text;
      padding: 0 2rem;
      border: 0.15rem solid $text;
      border-radius: $border-reg;
      background-color: $primary;
      user-select: none;

      &:hover {
        background-color: $secondary;
        cursor: pointer;
      }

      &--followed {
        @extend .content__follow-btn;
        color: $secondary;
        border: 0.15rem solid $secondary;
        background-color: $text;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        padding: 0 0.5rem;

        &:hover {
          background-color: $post-bg;
        }
      }
    }
  }
}
