@import "../../variables";
@import "../../query";

.wrapper {
  width: 100%;
  background-color: rgba($primary, 0.5);
  padding: 1rem 0;

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: min(90%, $max-content);
    margin-inline: auto;

    @include xsmall {
      grid-template-columns: 1fr;

    }

    &__paragraph {
      grid-column: 1;
      margin: 0;
      color: $text-secondary;
    }

    &__name {
      font-size: 2.6rem;
      line-height: 3.2rem;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .follow {
      @include xsmall {
        width: 100%;
      }
    }
  }
}

.no-posts {
  width: 100%;
  text-align: center;
  color: $text-secondary;
  opacity: 0.4;
}

.not-found {
  width: 100%;
  text-align: center;
  color: $text-secondary;
  opacity: 0.4;
}