@import '../../variables';
@import '../../query';

.main {
  box-sizing: border-box;
  min-height: calc(100vh - $routes-wrapper-margin);
  position: relative;
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  overflow-x: hidden;

  .watermark {
    position: absolute;
    top: 2rem;
    left: 3rem;

    @include medium {
      inset: 0;
      width: 100%;
    }
  }

  &__wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;

    @include medium {
      width: 90%;
    }

    .logo {
      @include large {
        height: max-content;
        width: 100%;
      }
    }

    .bio {
      margin-top: 2rem;
      width: 50%;
      align-self: flex-end;

      @include large {
        width: 100%;
        align-self: flex-start;
      }
    
      p {
        margin: 0;
        color: $primary;
        font-size: 2rem;
        text-align: justify;
        user-select: none;

        @include large {
          text-align: left;
        }

        @include small {
          font-size: 1.4rem;
        }
      }

      button {
        margin-top: 2rem;
        font-size: 2rem;
        color: $text;
        background-color: $primary;
        border: none;
        border-radius: .8rem;
        padding: .5rem 2rem;

        @include xsmall {
          width: 100%;
          font-size: 1.4rem;
        }

        &:hover {
          background-color: $secondary;
          cursor: pointer;
        }
      }
    }
  }
}