@import '../../variables';

label {
  display: block;
}

.custom-label {
  display: inline-block;
  margin: 0 0 0 1rem;
}

.input {
  border: none;
  height: 2.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: $border-reg;
  font-size: 1.2rem;

  &:focus {
    outline: .2rem solid $primary;
  }

  &--error {
    outline: .2rem solid $error;

    &:focus {
      outline: .2rem solid $error;
    }
  }
}

.error-wrapper {
  padding-top: .2rem;
  word-break: break-word;
  white-space: pre-wrap;
  align-items: flex-start !important;
  
  p {
    text-align: start !important;
  }
}