$primary: #70CBFF;
$secondary: #0090E0;
$text: #fff;
$error: #FF0000;
$black: #000;
$vote-up: #19AF01;
$vote-down: #B20101;
$text-secondary: #6A6A6A;
$post-bg: #E6E6E6;
$yellow: #FFD43E;
$skeleton-color: rgba($text-secondary, 0.2);

$border-reg: .3rem;
$post-padding: 0.5rem;
$post-border-radius: 0.25rem;
$max-content: 50rem;