$primary: #70CBFF;
$secondary: #0090E0;
$text: #fff;
$error: #FF0000;
$black: #000;
$vote-up: #19AF01;
$vote-down: #B20101;
$text-secondary: #6A6A6A;
$post-bg: #E6E6E6;
$yellow: #FFD43E;

$border-reg: .3rem;