@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'variables';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.routes-wrapper {
  margin-top: $routes-wrapper-margin;
}