@import '../../variables';
@import '../../templates';

.follow-btn {
  @extend %user-action-btn;
  background-color: $primary;

  &:hover {
    background-color: $secondary;
  }

  &--followed {
    @extend .follow-btn;
    color: $secondary;
    border: 0.15rem solid $secondary;
    background-color: $text;

    &:hover {
      background-color: $post-bg;
    }
  }
}