@import "../../variables";

.wrapper {
  width: clamp(50%, 40rem, 90%);
  height: clamp(50%, 35rem, 90%);
  background-color: $post-bg;
  border-radius: $post-border-radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  background-color: transparent;
  width: 50%;
  font-size: 1.2rem;
  padding: 0.6rem 0;
  color: $primary;

  &:hover {
    cursor: pointer;
  }

  &__counter {
    font-weight: 600;
  }
}

.buttons__wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.indicator {
  width: 50%;
  height: 0.25rem;
  background-color: $primary;
  transition: all 0.3s;

  &__upvote {
    margin-left: 0;
  }

  &__downvote {
    margin-left: 50%;
  }
}

.users-list {
  display: grid;
  overflow-y: auto;
  row-gap: .8rem;
  padding: 1rem;
  margin-right: .3rem;
  $scrollbar-width: 0.6rem;

  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: $scrollbar-width / 2;
  }

  &::-webkit-scrollbar-button {
    height: .5rem;
    visibility: hidden;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}